# Archivos y carpetas que no queremos subir a GitHub

# Claves y configuraciones sensibles
serviceAccountKey.json

# Archivos de configuración de Firebase
.env

# Entornos virtuales de Python
venv/

# Archivos temporales y de sistema
*.pyc
__pycache__/

# Configuración de entorno de IDEs (opcional)
.vscode/
.idea/

# Logs
*.log

# Archivos de ngrok (si usas config)
.ngrok2/
